<div class="jumbotron">
    <div class="container">
        <h1>Desafío 5</h1>
        <p>Mi Plantilla de Productos con Handlebars</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/productos" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Ingreso de Productos</legend>

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
                </div>
                
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control" name="autor" id="autor" placeholder="Autor">
                </div>

                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <div>
                    <button class="btn btn-success mt-3 mb-5">
                        <a style="color: white" href="/productos">Productos</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>